// Navigation code here

nav {
    @media @phone {
        width: 100%;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 2.5%;
    }
    display: flex;
    margin-left: 40%;
    margin-right: 15%;
    flex-direction: column;
    align-items: center;
    background-color: #F2F4F4;
    padding-top: 1%;
    padding-bottom: 1%;
    h1 {
        font-size: 4rem;
    }
    
        .a-tags {
            @media @phone {
                width: 78%;
                padding-top: 4%;
            }
            .a-tags-mixin;
        }
    
}

    .a-tags a {
        .font-style;
        }
    
    